body{
    background-color: #111111;
}
#main{
    background-color:rgb(189, 223, 0);
    height: 576px;
    margin: 20px;
}
h4{
    font-family:Montserrat;
    font-size: 16px;
    padding: 0px;
    padding-top: 16px;
    margin: 0px;
    padding-left: 32px;
    /* font-weight: semibold; */
}
p{
    padding: 0px;
    margin: 0px;
    padding-left: 32px;
    padding-top: 8px;
}

.box-box1{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:rgb(95, 160, 122);
}
.box-box2{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:cadetblue;
}
.box-box3{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:rgb(160, 159, 95);
}
.box-box4{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:rgb(136, 95, 160);
}
.box-box5{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:rgb(160, 95, 111);
}
.box-box6{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:rgb(108, 160, 95);
}
.box{
    padding: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex-flow: column wrap;
    background-color: aliceblue;
    height:450px

    
} 
.footer{
    background-color: cornsilk;
    height: 233px;
    margin: 20px;
}





















@media (min-width:800px) {
    .footer{
        background-color: cornsilk;
        height: 233px;
        margin: 20px;
    }
    
    h4{
        font-family:Montserrat;
        font-size: 16px;
        padding: 0px;
        margin: 0px;
        padding-left: 32px;
        /* font-weight: semibold; */
    }
    p{
        padding: 0px;
        margin: 0px;
        padding-left: 32px;
        padding-top: 8px;
    }
    .box{
        flex-basis: 32%;
        height: 480px;
        background-color: aliceblue;
        
    }   
    .box-box1{
        height: 336px;
        margin: 16px;
        background-color:rgb(95, 160, 122);
    }
    .box-box2{
        height: 336px;
        margin: 16px;
        background-color:cadetblue;
    }
    .box-box3{
        height: 336px;
        margin: 16px;
        background-color:rgb(160, 159, 95);
    }
    .box-box4{
        height: 336px;
        margin: 16px;
        background-color:rgb(136, 95, 160);
    }
    .box-box5{
        height: 336px;
        margin: 16px;
        background-color:rgb(160, 95, 111);
    }
    .box-box6{
        height: 336px;
        margin: 16px;
        background-color:rgb(108, 160, 95);
    }
    .box{
        padding: 0px;
        margin: 0px;
        flex-flow: column wrap;
        background-color: aliceblue;
        
    }  
}
@media (min-width:550px){
    .footer{
        background-color: cornsilk;
        height: 233px;
        margin: 20px;
    }
    
    .second{
        margin: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 2%;
    }
    .box-box1{
        height: 336px;
        margin: 16px;
        background-color:rgb(95, 160, 122);
    }
    .box-box2{
        height: 336px;
        margin: 16px;
        background-color:cadetblue;
    }
    .box-box3{
        height: 336px;
        margin: 16px;
        background-color:rgb(160, 159, 95);
    }
    .box-box4{
        height: 336px;
        margin: 16px;
        background-color:rgb(136, 95, 160);
    }
    .box-box5{
        height: 336px;
        margin: 16px;
        background-color:rgb(160, 95, 111);
    }
    .box-box6{
        height: 336px;
        margin: 16px;
        background-color:rgb(108, 160, 95);
    }
    .box{
        padding: 0px;
        margin: 0px;
        flex-flow: column wrap;
        background-color: aliceblue;
        
    }  
    h4{
        font-family:Montserrat;
        font-size: 16px;
        padding: 0px;
        margin: 0px;
        padding-left: 32px;
        /* font-weight: semibold; */
    }
    p{
        padding: 0px;
        margin: 0px;
        padding-left: 32px;
        padding-top: 8px;
    }

}
