body{
    background-color: #111111;
}
nav{
    border: 0px;
    margin: 0px;
    align-items: center;
}

.nav{
    margin-left: 100px;
    padding-top: 20px;
}

.logo{
    border: 0px;
    
}
.button{margin-top: 10px;
    margin-left: 150px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #292929;
}
.a1{
    margin-left: 700px;
    color: #FFFFFF;
}
.a2{
    margin-left: 30px;
    color: #FFFFFF;
}
/* .button1{
    margin-left: 700px;
    margin-top: 0px;
    border-radius: 10px;
    opacity: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 32px;
    cursor: pointer;
    background-color: none;
} */
/*  */
.button a {
    color: #ffffff;
    font-family: 'Montserrat';
    text-decoration: none;
  }
#main{
    background-image: url(img/re3.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;

    

    height: 660px;
    margin-bottom: 20px;
}
#main h1{
    padding: 0px;
    margin-left: 150px;
    border: 0px;
    font: normal normal normal 144px/130px Bebas Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 0px;


}
#main h3{
    margin-top: 0px;
    padding: 0px;
    margin-left: 150px;
    margin-bottom: 0px;
    border: 0px;
    font-family: 'Montserrat';font-size: 22px;
    color: #ffff;
}
#main h4{
    padding: 0px;
    margin-left: 150px;
    border: 0px;
    top: 540px;

text-align: left;
font: normal normal 10 24px/32px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;

}
h4{
    font-family:Montserrat;
    font-size: 16px;
    padding: 0px;
    padding-top: 16px;
    margin: 0px;
    padding-left: 32px;
    /* font-weight: semibold; */
}
p{
    padding: 0px;
    margin: 0px;
    padding-left: 32px;
    padding-top: 8px;
}

.box-box1{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:rgb(67, 67, 67);
}
.box-box2{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:rgb(67, 67, 67);
}
.box-box3{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:rgb(67, 67, 67);
}
.box-box4{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:rgb(67, 67, 67);
}
.box-box5{
    padding: 0px;
    height: 336px;
    margin: 0px;
    background-color:rgb(67, 67, 67);
}
.box-box6{
    padding: 0px;
    height: 336px;
    margin: 0px;
     background-color:rgb(67, 67, 67);
}
.box{
    padding: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex-flow: column wrap;
    background-color: aliceblue;
    height:450px

    
} 
.footer{
    background-color: cornsilk;
    height: 233px;
    margin-bottom: 20px;
}





















@media (min-width:800px) {
    .footer{
        background-color: cornsilk;
        height: 233px;
        margin-bottom: 20px;
    }
    
    h4{
        font-family:Montserrat;
        font-size: 16px;
        padding: 0px;
        margin: 0px;
        padding-left: 32px;
        /* font-weight: semibold; */
    }
    p{
        padding: 0px;
        margin: 0px;
        padding-left: 32px;
        padding-top: 8px;
    }
    .box{
        flex-basis: 32%;
        height: 480px;
        background-color: aliceblue;
        
    }   
    .box-box1{
        height: 336px;
        margin: 16px;
        background-image:  url(img/project1.png)
       
        
    }
    .box-box2{
        height: 336px;
        margin: 16px;
        background-image:  url(img/project2\ \(1\).png)
    }
    .box-box3{
        height: 336px;
        margin: 16px;
        background-image:  url(img/project2\ \(2\).png)
    }
    .box-box4{
        height: 336px;
        margin: 16px;
        background-color:rgb(67, 67, 67);
    }
    .box-box5{
        height: 336px;
        margin: 16px;
        background-color:rgb(67, 67, 67);
    }
    .box-box6{
        height: 336px;
        margin: 16px;
        background-color:rgb(67, 67, 67);
    }
    .box{
        padding: 0px;
        margin: 0px;
        flex-flow: column wrap;
        background-color: aliceblue;
        
    }  
}
@media (min-width:550px){
    .footer{
        background-color: cornsilk;
        height: 233px;
         margin-bottom: 20px;
    }
    
    .second{
        margin: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 2%;
    }
    .box-box1{
        height: 336px;
        margin: 16px;
        background-color:rgb(67, 67, 67);
    }
    .box-box2{
        height: 336px;
        margin: 16px;
        background-color:rgb(67, 67, 67);
    }
    .box-box3{
        height: 336px;
        margin: 16px;
        background-color:rgb(67, 67, 67);
    }
    .box-box4{
        height: 336px;
        margin: 16px;
        background-color:rgb(67, 67, 67);
    }
    .box-box5{
        height: 336px;
        margin: 16px;
        background-color:rgb(67, 67, 67);
    .box-box6{
        height: 336px;
        margin: 16px;
        background-color:rgb(67, 67, 67);
    }
    .box{
        padding: 0px;
        margin: 0px;
        flex-flow: column wrap;
        background-color: aliceblue;
        
    }  
    h4{
        font-family:Montserrat;
        font-size: 16px;
        padding: 0px;
        margin: 0px;
        padding-left: 32px;
        /* font-weight: semibold; */
    }
    p{
        padding: 0px;
        margin: 0px;
        padding-left: 32px;
        padding-top: 8px;
    }

}
