body{
    background-color: #111111;
}
#main{
    background-image:url(img/main.jpg);
    height: 576px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.box{
    width: 600px;
    height: 480px;
    background-color: #FFFFFF;
}
#second{
    display: flex;
    margin: 20px;
}
#one{
    margin-right: 20px;
}
#two{
    margin-right: 20px;

}
.box-box1{
    height: 336px;
    margin: 16px;
    background-image:url(img/one.jpg);
    background-size: cover;
}
.box-box2{
    height: 336px;
    margin: 16px;
    background-image:url(img/two.jpg);
    background-size: cover;
}
.box-box3{
    height: 336px;
    margin: 16px;
    background-image:url(img/three.jpg);
    background-size: cover;
}
.box-box4{
    height: 336px;
    margin: 16px;
    background-image:url(img/four.jpg);
    background-size: cover;
}
.box-box5{
    height: 336px;
    margin: 16px;
    background-image:url(img/five.jpg);
    background-size: cover;
}
.box-box6{
    height: 336px;
    margin: 16px;
    background-image:url(img/six.jpg);
    background-size: cover;
}
h4{
    font-family:Montserrat;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    padding-left: 32px;
    /* font-weight: semibold; */
}
p{
    padding: 0px;
    margin: 0px;
    padding-left: 32px;
    padding-top: 8px;
}
.footer{
    background-image: url(img/footer4.jpg);
    background-size: cover;
    height: 233px;
    margin: 20px;
}
@media only screen and (max-width: 600px){
      #second{
        display: block;
       
    }
